/*Change the font-family and the font size of all elements using the universal selector.*/
*{
	font-family: candara, serif;
	font-size: 20px;
}

/*Apply an external styling to a paragraph tag.*/
#external{
	color: #3379FF;
}

/*Change the font-size of h1 tags using a type selector*/
h1{
	font-size: 40px;
}

/*Change the text to all uppercase letters for h2 tags using an id selector*/
#upper{
	text-transform: uppercase;
}

/*Change the background colors of the languages to be learn list items using class selectors.*/
.languages{
	background-color: #33B9FF;
}

/*Change the border of the tools to be used list items using a attribute selectors*/
li[value]{
	border: 2px solid black;
}

/*Change the list style type of the other things to be learned list using an adjacent sibling selector.*/
img + ul{
	list-style-type: square;
}

/*Change the dimensions of the image tag using a descendant selector.*/
section img{
	height: 100px;
	width: 100px;
	border-radius: 20%;
}

/*Change the alignment of the last paragraph using a generic sibling selector.*/
ul ~ p{
	text-align: center;
}

/*Change the letter spacing of the other things to be learned list items using a child selector.*/
ul > li{
	letter-spacing: 5px;
}